absl-py==0.7.1
astor==0.7.1
audioread==2.1.8
beautifulsoup4==4.7.1
billboard.py==5.0.2
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
idna==2.8
joblib==0.13.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
librosa==0.6.3
llvmlite==0.29.0
Markdown==3.1.1
matplotlib==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
numba==0.44.1
numpy==1.16.4
protobuf==3.8.0
pyparsing==2.4.0
python-dateutil==2.8.0
requests==2.22.0
resampy==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
soupsieve==1.9.2
spotipy==2.4.4
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.3
Werkzeug==0.15.4
wget==3.2
